EndUserObjectExplorer/bin/
EndUserObjectExplorer/bin/
EndUserObjectExplorer/obj/
Graph#.Controls/bin/
Graph#.Controls/obj/
Graph#/bin/
Graph#/obj/
ActivityLogger/ActivityLogger.Tests/bin/
ActivityLogger/ActivityLogger.Tests/obj/
ActivityLogger/ModelView/obj/
ActivityLogger/obj/
ActivityLogger/bin/
ActivityLogger/ModelView/bin/
ActivityLogger/ModelView/bin/
ActivityLogger/ActivityLogger.Tests/WPFTests.cs
ActivityLogger/ModelView/bin/
ActivityLogger/ModelView/bin/*
ActivityLogger/BinaryLogRecorder.Tests/obj/Debug/BinaryLogRecorder.Tests.csproj.FileListAbsolute.txt
ActivityLogger/BinaryLogRecorder.Tests/bin/Debug/BinaryLogRecorder.Tests.dll
ActivityLogger/BinaryLogRecorder.Tests/bin/Debug/BinaryLogRecorder.Tests.dll.VisualState.xml
ActivityLogger/BinaryLogRecorder.Tests/bin/Debug/BinaryLogRecorder.Tests.pdb
ActivityLogger/BinaryLogRecorder.Tests/bin/Debug/CK.Core.dll
ActivityLogger/BinaryLogRecorder.Tests/bin/Debug/CK.Core.xml
ActivityLogger/BinaryLogRecorder.Tests/bin/Debug/ClassLibrary1.dll
ActivityLogger/BinaryLogRecorder.Tests/bin/Debug/ClassLibrary1.pdb
ActivityLogger/BinaryLogRecorder.Tests/bin/Debug/nunit.framework.dll
ActivityLogger/BinaryLogRecorder.Tests/bin/Debug/nunit.framework.xml
ActivityLogger/BinaryLogRecorder.Tests/bin/Debug/TestResult.xml
ActivityLogger/BinaryLogRecorder.Tests/obj/Debug/BinaryLogRecorder.Tests.csprojResolveAssemblyReference.cache
ActivityLogger/BinaryLogRecorder.Tests/obj/Debug/BinaryLogRecorder.Tests.dll
ActivityLogger/BinaryLogRecorder.Tests/obj/Debug/build.force
ActivityLogger/BinaryLogRecorder.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ActivityLogger/BinaryLogRecorder.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ActivityLogger/BinaryLogRecorder.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ActivityLogger/BinaryLogRecorder.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ActivityLogger/BinaryLogRecorder/bin/Debug/CK.Core.dll
ActivityLogger/BinaryLogRecorder/bin/Debug/CK.Core.xml
ActivityLogger/BinaryLogRecorder/bin/Debug/ClassLibrary1.dll
ActivityLogger/BinaryLogRecorder/bin/Debug/ClassLibrary1.pdb
ActivityLogger/BinaryLogRecorder/obj/Debug/BinaryLogRecorder.csproj.FileListAbsolute.txt
ActivityLogger/BinaryLogRecorder/obj/Debug/BinaryLogRecorder.csprojResolveAssemblyReference.cache
ActivityLogger/BinaryLogRecorder/obj/Debug/ClassLibrary1.dll
ActivityLogger/BinaryLogRecorder/obj/Debug/ClassLibrary1.pdb
ActivityLogger/BinaryLogRecorder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ActivityLogger/BinaryLogRecorder/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ActivityLogger/BinaryLogRecorder/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ActivityLogger/BinaryLogRecorder/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ActivityLogger/ModelView/bin/Debug/ActivityLogger.dll
ActivityLogger/ModelView/bin/Debug/ActivityLogger.pdb
ActivityLogger/ModelView/bin/Debug/ModelView.exe
ActivityLogger/ModelView/bin/Debug/ModelView.pdb
ActivityLogger/ModelView/bin/Debug/ActivityLogger.dll
ActivityLogger/ModelView/bin/Debug/ActivityLogger.pdb
ActivityLogger/ModelView/bin/Debug/ModelView.exe
ActivityLogger/ModelView/bin/Debug/ModelView.pdb
ActivityLogger/ModelView/bin/Debug/ActivityLogger.dll
ActivityLogger/ModelView/bin/Debug/ActivityLogger.pdb
ActivityLogger/ModelView/bin/Debug/ModelView.exe
ActivityLogger/ModelView/bin/Debug/ModelView.pdb
ActivityLogger/ModelView/bin/Debug/ActivityLogger.dll
ActivityLogger/ModelView/bin/Debug/ActivityLogger.pdb
ActivityLogger/ModelView/bin/Debug/ModelView.exe
ActivityLogger/ModelView/bin/Debug/ModelView.pdb
ActivityLogger/Output/Debug/Caliburn.Micro.dll
ActivityLogger/Output/Debug/Caliburn.Micro.pdb
ActivityLogger/Output/Debug/CiviKey.exe
ActivityLogger/Output/Debug/CiviKey.exe.config
ActivityLogger/Output/Debug/CiviKey.pdb
ActivityLogger/Output/Debug/CK.Context.dll
ActivityLogger/Output/Debug/CK.Context.xml
ActivityLogger/Output/Debug/CK.Core.dll
ActivityLogger/Output/Debug/CK.Core.xml
ActivityLogger/Output/Debug/CK.Interop.dll
ActivityLogger/Output/Debug/CK.Interop.xml
ActivityLogger/Output/Debug/CK.Keyboard.Model.dll
ActivityLogger/Output/Debug/CK.Keyboard.Model.pdb
ActivityLogger/Output/Debug/CK.Plugin.Config.dll
ActivityLogger/Output/Debug/CK.Plugin.Config.Model.dll
ActivityLogger/Output/Debug/CK.Plugin.Config.xml
ActivityLogger/Output/Debug/CK.Plugin.Discoverer.dll
ActivityLogger/Output/Debug/CK.Plugin.Discoverer.Runner.dll
ActivityLogger/Output/Debug/CK.Plugin.Discoverer.Runner.xml
ActivityLogger/Output/Debug/CK.Plugin.Discoverer.xml
ActivityLogger/Output/Debug/CK.Plugin.Host.dll
ActivityLogger/Output/Debug/CK.Plugin.Host.xml
ActivityLogger/Output/Debug/CK.Plugin.Model.dll
ActivityLogger/Output/Debug/CK.Plugin.Model.xml
ActivityLogger/Output/Debug/CK.Plugin.Runner.dll
ActivityLogger/Output/Debug/CK.Plugin.Runner.xml
ActivityLogger/Output/Debug/CK.Reflection.dll
ActivityLogger/Output/Debug/CK.Reflection.xml
ActivityLogger/Output/Debug/CK.SharedDic.dll
ActivityLogger/Output/Debug/CK.SharedDic.xml
ActivityLogger/Output/Debug/CK.Storage.dll
ActivityLogger/Output/Debug/CK.Storage.xml
ActivityLogger/Output/Debug/CK.Windows.App.dll
ActivityLogger/Output/Debug/CK.Windows.Config.dll
ActivityLogger/Output/Debug/CK.Windows.Core.dll
ActivityLogger/Output/Debug/CK.WPF.Controls.dll
ActivityLogger/Output/Debug/CK.WPF.Controls.pdb
ActivityLogger/Output/Debug/CK.WPF.StandardViews.dll
ActivityLogger/Output/Debug/CK.WPF.StandardViews.pdb
ActivityLogger/Output/Debug/CK.WPF.ViewModel.dll
ActivityLogger/Output/Debug/CK.WPF.ViewModel.pdb
ActivityLogger/Output/Debug/Common.Logging.dll
ActivityLogger/Output/Debug/Common.Logging.Log4Net.dll
ActivityLogger/Output/Debug/de/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/en-US/CK.WPF.Controls.resources.dll
ActivityLogger/Output/Debug/en-US/Host.Services.resources.dll
ActivityLogger/Output/Debug/en/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/es/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/fr/CiviKey.resources.dll
ActivityLogger/Output/Debug/fr/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/Hardcodet.Wpf.TaskbarNotification.dll
ActivityLogger/Output/Debug/Host.Services.dll
ActivityLogger/Output/Debug/Host.Services.pdb
ActivityLogger/Output/Debug/it/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/ja/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/ko/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/log4net.dll
ActivityLogger/Output/Debug/log4net.xml
ActivityLogger/Output/Debug/Plugins/AutoClick.dll
ActivityLogger/Output/Debug/Plugins/AutoClick.pdb
ActivityLogger/Output/Debug/Plugins/BasicCommandHandlers.dll
ActivityLogger/ModelView/bin/Debug/ActivityLogger.dll
ActivityLogger/ModelView/bin/Debug/ActivityLogger.pdb
ActivityLogger/ModelView/bin/Debug/ModelView.exe
ActivityLogger/ModelView/bin/Debug/ModelView.pdb
ActivityLogger/ModelView/bin/Debug/ActivityLogger.dll
ActivityLogger/ModelView/bin/Debug/ActivityLogger.pdb
ActivityLogger/ModelView/bin/Debug/ModelView.exe
ActivityLogger/ModelView/bin/Debug/ModelView.pdb
ActivityLogger/ModelView/bin/Debug/ActivityLogger.dll
ActivityLogger/ModelView/bin/Debug/ActivityLogger.pdb
ActivityLogger/ModelView/bin/Debug/ModelView.exe
ActivityLogger/ModelView/bin/Debug/ModelView.pdb
ActivityLogger/ModelView/bin/Debug/ActivityLogger.dll
ActivityLogger/ModelView/bin/Debug/ActivityLogger.pdb
ActivityLogger/ModelView/bin/Debug/ModelView.exe
ActivityLogger/ModelView/bin/Debug/ModelView.pdb
ActivityLogger/ModelView/bin/Debug/ActivityLogger.dll
ActivityLogger/ModelView/bin/Debug/ActivityLogger.pdb
ActivityLogger/ModelView/bin/Debug/ModelView.exe
ActivityLogger/ModelView/bin/Debug/ModelView.pdb
ActivityLogger/ModelView/bin/Debug/ActivityLogger.dll
ActivityLogger/ModelView/bin/Debug/ActivityLogger.pdb
ActivityLogger/ModelView/bin/Debug/ModelView.exe
ActivityLogger/ModelView/bin/Debug/ModelView.pdb
ActivityLogger/Output/Debug/Plugins/BasicCommandHandlers.pdb
ActivityLogger/Output/Debug/Plugins/Caliburn.Micro.dll
ActivityLogger/Output/Debug/Plugins/Caliburn.Micro.pdb
ActivityLogger/Output/Debug/Plugins/CK.Core.dll
ActivityLogger/Output/Debug/Plugins/CK.Core.xml
ActivityLogger/Output/Debug/Plugins/CK.Interop.dll
ActivityLogger/Output/Debug/Plugins/CK.Interop.xml
ActivityLogger/Output/Debug/Plugins/CK.Keyboard.dll
ActivityLogger/Output/Debug/Plugins/CK.Keyboard.Model.dll
ActivityLogger/Output/Debug/Plugins/CK.Keyboard.Model.pdb
ActivityLogger/Output/Debug/Plugins/CK.Keyboard.pdb
ActivityLogger/Output/Debug/Plugins/CK.Plugin.Config.Model.dll
ActivityLogger/Output/Debug/Plugins/CK.Plugin.Discoverer.dll
ActivityLogger/Output/Debug/Plugins/CK.Plugin.Discoverer.Runner.dll
ActivityLogger/Output/Debug/Plugins/CK.Plugin.Discoverer.Runner.xml
ActivityLogger/Output/Debug/Plugins/CK.Plugin.Discoverer.xml
ActivityLogger/Output/Debug/Plugins/CK.Plugin.Host.dll
ActivityLogger/Output/Debug/Plugins/CK.Plugin.Host.xml
ActivityLogger/Output/Debug/Plugins/CK.Plugin.Runner.dll
ActivityLogger/Output/Debug/Plugins/CK.Plugin.Runner.xml
ActivityLogger/Output/Debug/Plugins/CK.Reflection.dll
ActivityLogger/Output/Debug/Plugins/CK.Reflection.xml
ActivityLogger/Output/Debug/Plugins/CK.SharedDic.dll
ActivityLogger/Output/Debug/Plugins/CK.SharedDic.xml
ActivityLogger/Output/Debug/Plugins/CK.Storage.dll
ActivityLogger/Output/Debug/Plugins/CK.Storage.xml
ActivityLogger/Output/Debug/Plugins/CK.Windows.App.dll
ActivityLogger/Output/Debug/Plugins/CK.Windows.Config.dll
ActivityLogger/Output/Debug/Plugins/CK.Windows.Core.dll
ActivityLogger/Output/Debug/Plugins/CK.WPF.Controls.dll
ActivityLogger/Output/Debug/Plugins/CK.WPF.Controls.pdb
ActivityLogger/Output/Debug/Plugins/CK.WPF.StandardViews.dll
ActivityLogger/Output/Debug/Plugins/CK.WPF.StandardViews.pdb
ActivityLogger/Output/Debug/Plugins/CK.WPF.ViewModel.dll
ActivityLogger/Output/Debug/Plugins/CK.WPF.ViewModel.pdb
ActivityLogger/Output/Debug/Plugins/CommandManager.dll
ActivityLogger/Output/Debug/Plugins/CommandManager.pdb
ActivityLogger/Output/Debug/Plugins/Common.Logging.dll
ActivityLogger/Output/Debug/Plugins/Common.Logging.Log4Net.dll
ActivityLogger/Output/Debug/Plugins/CommonServices.dll
ActivityLogger/Output/Debug/Plugins/CommonServices.pdb
ActivityLogger/Output/Debug/Plugins/CommonTimer.dll
ActivityLogger/Output/Debug/Plugins/CommonTimer.pdb
ActivityLogger/Output/Debug/Plugins/CommonTimerWindow.dll
ActivityLogger/Output/Debug/Plugins/CommonTimerWindow.pdb
ActivityLogger/Output/Debug/Plugins/de/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/Plugins/en-US/AutoClick.resources.dll
ActivityLogger/Output/Debug/Plugins/en-US/CK.WPF.Controls.resources.dll
ActivityLogger/Output/Debug/Plugins/en-US/Host.Services.resources.dll
ActivityLogger/Output/Debug/Plugins/en-US/ObjectExplorer.resources.dll
ActivityLogger/Output/Debug/Plugins/en-US/SimpleSkin.resources.dll
ActivityLogger/Output/Debug/Plugins/en/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/Plugins/es/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/Plugins/fr/CK.Keyboard.resources.dll
ActivityLogger/Output/Debug/Plugins/fr/ObjectExplorer.resources.dll
ActivityLogger/Output/Debug/Plugins/fr/PointerDeviceDriver.resources.dll
ActivityLogger/Output/Debug/Plugins/fr/ServiceLogs.resources.dll
ActivityLogger/Output/Debug/Plugins/fr/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/Plugins/Hardcodet.Wpf.TaskbarNotification.dll
ActivityLogger/Output/Debug/Plugins/Host.Services.dll
ActivityLogger/Output/Debug/Plugins/Host.Services.pdb
ActivityLogger/Output/Debug/Plugins/it/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/Plugins/ja/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/Plugins/ko/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/Plugins/log4net.dll
ActivityLogger/Output/Debug/Plugins/log4net.xml
ActivityLogger/Output/Debug/Plugins/MouseWatcher.dll
ActivityLogger/Output/Debug/Plugins/MouseWatcher.pdb
ActivityLogger/Output/Debug/Plugins/ObjectExplorer.dll
ActivityLogger/Output/Debug/Plugins/ObjectExplorer.pdb
ActivityLogger/Output/Debug/Plugins/PointerDeviceDriver.dll
ActivityLogger/Output/Debug/Plugins/PointerDeviceDriver.pdb
ActivityLogger/Output/Debug/Plugins/ServiceLogs.dll
ActivityLogger/Output/Debug/Plugins/ServiceLogs.pdb
ActivityLogger/Output/Debug/Plugins/SimpleSkin.dll
ActivityLogger/Output/Debug/Plugins/SimpleSkin.pdb
ActivityLogger/Output/Debug/Plugins/System.Data.DataSetExtensions.dll
ActivityLogger/Output/Debug/Plugins/System.Data.dll
ActivityLogger/Output/Debug/Plugins/System.dll
ActivityLogger/Output/Debug/Plugins/System.Windows.Forms.dll
ActivityLogger/Output/Debug/Plugins/System.Windows.Interactivity.dll
ActivityLogger/Output/Debug/Plugins/System.Windows.Interactivity.xml
ActivityLogger/Output/Debug/Plugins/UpdateChecker.dll
ActivityLogger/Output/Debug/Plugins/UpdateChecker.pdb
ActivityLogger/Output/Debug/Plugins/zh-Hans/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/Plugins/zh-Hant/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/System.Windows.Interactivity.dll
ActivityLogger/Output/Debug/System.Windows.Interactivity.xml
ActivityLogger/Output/Debug/zh-Hans/System.Windows.Interactivity.resources.dll
ActivityLogger/Output/Debug/zh-Hant/System.Windows.Interactivity.resources.dll
ActivityLogger/TestWPF/App.config
ActivityLogger/TestWPF/App.xaml
ActivityLogger/TestWPF/App.xaml.cs
ActivityLogger/TestWPF/bin/Debug/TestWPF.vshost.exe
ActivityLogger/TestWPF/bin/Debug/TestWPF.vshost.exe.config
ActivityLogger/TestWPF/bin/Debug/TestWPF.vshost.exe.manifest
ActivityLogger/TestWPF/MainWindow.xaml
ActivityLogger/TestWPF/MainWindow.xaml.cs
ActivityLogger/TestWPF/obj/Debug/App.g.cs
ActivityLogger/TestWPF/obj/Debug/App.g.i.cs
ActivityLogger/TestWPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ActivityLogger/TestWPF/obj/Debug/MainWindow.baml
ActivityLogger/TestWPF/obj/Debug/MainWindow.g.cs
ActivityLogger/TestWPF/obj/Debug/MainWindow.g.i.cs
ActivityLogger/TestWPF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ActivityLogger/TestWPF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ActivityLogger/TestWPF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ActivityLogger/TestWPF/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ActivityLogger/TestWPF/obj/Debug/TestWPF.csproj.FileListAbsolute.txt
ActivityLogger/TestWPF/obj/Debug/TestWPF.csproj.GenerateResource.Cache
ActivityLogger/TestWPF/obj/Debug/TestWPF.csprojResolveAssemblyReference.cache
ActivityLogger/TestWPF/obj/Debug/TestWPF.g.resources
ActivityLogger/TestWPF/obj/Debug/TestWPF.Properties.Resources.resources
ActivityLogger/TestWPF/obj/Debug/TestWPF_MarkupCompile.cache
ActivityLogger/TestWPF/obj/Debug/TestWPF_MarkupCompile.i.cache
ActivityLogger/TestWPF/PaginatedObservableCollection.cs
ActivityLogger/TestWPF/Properties/AssemblyInfo.cs
ActivityLogger/TestWPF/Properties/Resources.Designer.cs
ActivityLogger/TestWPF/Properties/Resources.resx
ActivityLogger/TestWPF/Properties/Settings.Designer.cs
ActivityLogger/TestWPF/Properties/Settings.settings
ActivityLogger/TestWPF/TestWPF.csproj
ActivityLogger/WpfApplication1/App.config
ActivityLogger/WpfApplication1/App.xaml
ActivityLogger/WpfApplication1/App.xaml.cs
ActivityLogger/WpfApplication1/bin/Debug/WpfApplication1.exe
ActivityLogger/WpfApplication1/bin/Debug/WpfApplication1.exe.config
ActivityLogger/WpfApplication1/bin/Debug/WpfApplication1.pdb
ActivityLogger/WpfApplication1/bin/Debug/WpfApplication1.vshost.exe
ActivityLogger/WpfApplication1/bin/Debug/WpfApplication1.vshost.exe.config
ActivityLogger/WpfApplication1/bin/Debug/WpfApplication1.vshost.exe.manifest
ActivityLogger/WpfApplication1/MainWindow.xaml
ActivityLogger/WpfApplication1/MainWindow.xaml.cs
ActivityLogger/WpfApplication1/obj/Debug/App.g.cs
ActivityLogger/WpfApplication1/obj/Debug/App.g.i.cs
ActivityLogger/WpfApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ActivityLogger/WpfApplication1/obj/Debug/MainWindow.baml
ActivityLogger/WpfApplication1/obj/Debug/MainWindow.g.cs
ActivityLogger/WpfApplication1/obj/Debug/MainWindow.g.i.cs
ActivityLogger/WpfApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ActivityLogger/WpfApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ActivityLogger/WpfApplication1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ActivityLogger/WpfApplication1/obj/Debug/WpfApplication1.csproj.FileListAbsolute.txt
ActivityLogger/WpfApplication1/obj/Debug/WpfApplication1.csproj.GenerateResource.Cache
ActivityLogger/WpfApplication1/obj/Debug/WpfApplication1.csprojResolveAssemblyReference.cache
ActivityLogger/WpfApplication1/obj/Debug/WpfApplication1.exe
ActivityLogger/WpfApplication1/obj/Debug/WpfApplication1.g.resources
ActivityLogger/WpfApplication1/obj/Debug/WpfApplication1.pdb
ActivityLogger/WpfApplication1/obj/Debug/WpfApplication1.Properties.Resources.resources
ActivityLogger/WpfApplication1/obj/Debug/WpfApplication1_MarkupCompile.cache
ActivityLogger/WpfApplication1/obj/Debug/WpfApplication1_MarkupCompile.i.cache
ActivityLogger/WpfApplication1/Properties/AssemblyInfo.cs
ActivityLogger/WpfApplication1/Properties/Resources.Designer.cs
ActivityLogger/WpfApplication1/Properties/Resources.resx
ActivityLogger/WpfApplication1/Properties/Settings.Designer.cs
ActivityLogger/WpfApplication1/Properties/Settings.settings
ActivityLogger/WpfApplication1/WpfApplication1.csproj
test WPF/App.config
test WPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
test WPF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
test WPF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
test WPF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
test WPF/test WPF.csproj
Binary log recorder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Binary log recorder/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Binary log recorder/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Binary log recorder/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ActivityLogger/ModelView/bin/Debug/ActivityLogger.dll
ActivityLogger/ModelView/bin/Debug/ActivityLogger.pdb
ActivityLogger/ModelView/bin/Debug/ModelView.exe
ActivityLogger/ModelView/bin/Debug/ModelView.pdb
